body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(206, 206, 220);
   
}
.container{
   
    background-color: rgb(224, 212, 214);
    border-radius :40px;
    width: 60vh;
    position: absolute;
    top: 30%;
    left:35%;
    order: 1px solid;
   padding: 20px;
   box-shadow: 5px 10px;
   display: flex;
   flex-wrap: wrap;
}

h1 {
color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.joke{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.getJoke{
  
    cursor: pointer;
}

button{
   
   text-align: center;
   color:rgb(30, 33, 209);
   border-radius: 40px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
