body{
    font-family: Arial, Helvetica, sans-serif;
    background: black;
   
}
.container{
   
    background-color: rgb(224, 212, 214);
    border-radius :40px;
    width: 60vh;
    position: absolute;
    top: 30%;
    left:35%;
    order: 1px solid;
   padding: 20px;
   box-shadow: 5px 10px;
   display: flex;
   flex-wrap: wrap;
}

h1 {
 text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
.joke{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.getJoke{
  
    cursor: pointer;
}

button{
   
   text-align: center;
   color:rgb(209, 53, 30);
   border-radius: 40px;
   
}
