body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(31, 15, 30);
   
}
.container{
   
    background-color: rgb(229, 198, 202);
    border-radius:20%;
    padding: 70px;
    margin: 12%;
    margin-right: 30%;
    margin-left: 30%;
}

.container h1{
    color: brown;
    font-size: large;
    text-align: start;
   
}
.joke{
    text-align: center;
    font-size: medium;
}

.getJoke{
     padding: 12px;
    font-size: medium;
    cursor: pointer;
}

button{
   text-align: center;
   color:darkblue;
}